@font-face {
	font-family:'Kudri';
	src: url('/marry_site_vi/kudry_weird-headline.eot');
	src: local('k'), url('/marry_site_vi/kudry_weird-headline.woff') format('woff'), url('/marry_site_vi/kudry_weird-headline.svg') format('truetype'), url('/marry_site_vi/kudry_weird-headline.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:'Osnova';
	src: url('/marry_site_vi/STKaiti.ttf');
	src: local('k'), url('/marry_site_vi/STKaiti.ttf') format('woff'), url('/marry_site_vi/STKaiti.ttf') format('truetype'), url('/marry_site_vi/STKaiti.ttf') format('svg');
	font-weight: normal;
	font-style: normal;
}

  @keyframes pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
  }
br {
    line-height: 3 !important; 
    margin-bottom: 3rem !important;/* Изменяет высоту строки после <br> */
  }

  a {
    color: inherit !important; /* Унаследовать цвет от родителя */
    text-decoration: none !important; /* Убрать подчеркивание, если нужно */
    outline: none !important;
  }
#kudria{font-family: 'Kudri';
font-size:40px;}

#osnova{font-family: 'Osnova';
font-size:21px;}

.photo img{ max-width: 100%; /* Ограничивает ширину изображений до ширины родителя */
    max-height: 100%; /* Не выходит за границы родителя по высоте */
    object-fit: contain; /* Умещает изображение в границах, сохраняя пропорции */
    width: auto;}
  
  .photo {
    max-width: 100%; /* Общая ширина коллажа */
   
  }


body {background-color: #ccbeb4 !important;}



#main-container{
display: flex;
flex-direction: column;
align-items: center;
gap:2rem;

max-width: 90%;
min-height: 100vh;

}

#image-card-container {
    position: relative; /* Позволяет позиционировать карточку поверх картинки */
    width: 100%; /* Обертка занимает ширину экрана */
    height: 54vh; /* Обертка занимает высоту экрана */
}

/* Картинка на весь экран */
#full-screen-image {
    position: absolute; /* Картинка растягивается независимо от родителя */
    left:-10vw;
    width: 102vw; /* Картинка занимает всю ширину */
    height: 100%; /* Картинка занимает всю высоту */
    
    object-fit: cover; /* Убедитесь, что картинка не искажается */
    z-index: 1; /* Картинка находится под карточкой */
}
#card_monblan{
position: absolute; /* Карточка расположена поверх картинки */
z-index: 2; /* Карточка выше картинки */
background: #e0e0e072; /* Полупрозрачный белый фон */
border:1px solid white;
border-radius: 16px; /* Скругление углов */
padding: 1rem 2rem;
width: 350px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень */
top: 20%; /* Центрируем по вертикали */
left: 50%; /* Центрируем по горизонтали */
transform: translate(-50%, -50%); /* Смещаем на половину размеров */
text-align: center;}

/* Контейнер, содержащий все строки */
#container {
    display: flex;
    flex-direction: column; /* Все строки будут располагаться друг под другом */
    gap: 2rem; /* Отступ между строками */
    width: 350px;
  }
  
  /* Каждая строка */
  .row {
    display: flex;
    justify-content: space-between; /* Равномерно распределяет пространство между элементами */
    gap: 0rem; /* Отступы между колонками */
  }
  
  /* Каждый элемент внутри строки */
  .column {
    flex: 1; /* Каждый элемент будет занимать равное пространство в строке */
    text-align: center; /* Выравнивание содержимого по центру */
  }
  
  /* Картинка */
  .image {
    width:100%;
    height: 17px;
  }

  .column1{flex:1;}
  .column2{flex:1;}
  .column3{flex:9;}


  #card_bottom{  background-color: transparent;
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    border-color: aliceblue;
    border-width: 2px;
    border-radius: 20px;
    width: 350px;
  }

  #card_top{background-color: transparent;}

  .background-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6rem;
    color: rgba(0, 0, 0, 0.1);
    z-index: 0;
    font-family: 'Myfon';
  }
  #card_bottom1{background-color: transparent;
    border-radius: 400px;
    border-width: 2px;
    border-color: aliceblue;}


    .bg-image1 {position: relative;
        background-size: cover; /* Картинка масштабируется, сохраняя пропорции */
        background-position: center; /* Центрирование изображения */
        background-repeat: no-repeat; /* Картинка не повторяется */
        height: 100vh; /* Высота блока равна высоте окна браузера */
        min-width: 100vw;
        width:100vw; /* Ширина блока занимает всю страницу */
        overflow: hidden; 
        margin: 0; /* Убираем возможные отступы */
        padding: 0;
      }
      .bg-image1 {
        /* Относительное позиционирование родителя */
        height: 100vh; /* Занимает весь экран */
      }
      .fullscreen-video {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Центрируем видео по вертикали и горизонтали */
        width: 100vw; /* Растягиваем видео на всю ширину */
        height: 100vh; /* Растягиваем видео на всю высоту */
        object-fit: cover; /* Обрезаем или увеличиваем видео, чтобы заполнить контейнер */
    }

      #glavn{
        position: absolute;
      left:10%;
      top:50%;
      transform:translate(-10%,-60%);
      }
      
      
      
      .play-container {
      position: absolute;
      left:19.5%;
      top:80%;
      background: none;
      transform: translate(-50%,-50%);
      z-index: 1000;
      }
      .play-button svg {
        width: 100%; /* SVG растягивается на всю кнопку */
        height: 100%;
       background: none;
      }
      
      .play-button{background:none;
      border: none;
      cursor: pointer;}
      
      .play-text-ring {
       
         /* Позиционируем немного выше кнопки */
      
        transform: translate(-50%,-50%);
        width: 150px; /* Диаметр кольца */
        height: 150px; /* Диаметр кольца */
        border-radius: 10%; /* Делаем круг */
        position: absolute;
        left:19%;
        top:80%;
       z-index: 100;
      }
      .play-text-ring img{  position: relative;
      z-index: 200;}

      .date_marrin_main{position: absolute;
  
        top:80%;
        right:-20%;
        transform: translate(-50%,-50%);
      }
      .date_marrin_main span{font-size: 9vw;}


      #Vsevolod {
        display: flex; /* Включаем Flexbox для выравнивания */
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        justify-content: space-between; /* Пространство распределяется равномерно */
        height: 100%; /* Занимает всю высоту родительского блока */
        font-family: 'Kudri';
        font-size: 72px;
      }
      
      #Vsevolod div {
        flex: 1; /* Все вложенные div занимают равное пространство */
        display: flex; /* Для центрирования содержимого */
        justify-content: start; /* Выравнивание по горизонтали */
        display: inline-block;
        line-height: 1;
       
        height: auto;
      }

      #Down_text{background: none;
    width: 400px;}
      #Dop_info{background: none;
    width: 20rem;
    color:rgba(75, 78, 72, 0.85);
    line-height: 1;
margin-top: -20px;}

#Contact{ background:#e0e0e036  ;
    width:15rem;
    border:1px solid white;
    border-radius: 30px;
    animation: pulse 3s infinite;}

      #card-knopka{ background:#e0e0e036  ;
    width:15rem;
    border:1px solid white;
    animation: pulse 3s infinite;
border-radius: 30px;
    }


    @media (min-width: 768px) and (max-width: 1024px) {
      .fullscreen-video {
          object-fit: contain; /* Видео полностью помещается в контейнер */
          height: auto; /* Высота подстраивается автоматически */
          width: 100%; 
          /* Видео растягивается на ширину контейнера */
      }
  }
  
  /* Стили для компьютеров */
  @media (min-width: 1025px) {
      .fullscreen-video {
          object-fit: contain; /* Видео заполняет контейнер */
          width: 100vw; /* Ширина занимает весь экран */
          height: 100vh; /* Высота занимает весь экран */
      }
  }

 


@media (min-width: 768px) and (max-width: 1024px) {
  #circl {height: 150px;
    
      
      /* Видео растягивается на ширину контейнера */
  }
  #man_image{height:700px;}

  #full-screen-image {
    position: absolute; /* Картинка растягивается независимо от родителя */
    left:-8vw;
    width: 102vw; /* Картинка занимает всю ширину */
    height: 100%; /* Картинка занимает всю высоту */
    
    object-fit: cover; /* Убедитесь, что картинка не искажается */
    z-index: 1; /* Картинка находится под карточкой */
}
}
